[2015-01-19 20:34] BertLindeman opened #1 "Beginners problem with install"
On the [README](https://github.com/ddemidov/ev3dev-lang-python/blob/master/README.md) the install is documented as:
[code]
In my system `easy_install` was not found.
Had to install ` python-setuptools`
Running `easy_install -v python-ev3dev` shows:
[code]

Now I am lost :disappointed:
No hurry and not really important, just curious :smile:

[2015-01-19 20:46] ddemidov commented on #1
Thanks for trying this, and sorry for the shitty README. I'll add a note about python-setuptools to the README.

Now, about the error: actually, I had the same problem on my brick. The installation goes flawlessly on the brickstrap image, but gives me the error on the brick itself. What worked for me on the brick is
[code]
This also gives an error, but the egg is installed and is useable neverthel

[2015-01-19 21:10] BertLindeman commented on #1
Thanks Dennis,

I did `easy_install -v https://pypi.python.org/packages/2.7/p/python-ev3dev/python_ev3dev-0.0.1-py2.7-linux-armv7l.egg#md5=2f295fc519f7d03f23cebc3b36bb4444`
and that showed:

[code]

So the egg *is* installed.
Ignoring the error for now.
Is the next step to run the  `setup.py` from the `ev3dev-lang-python-master` download?

So in this we are at an equal level :grin:

[2015-01-19 21:28] ddemidov commented on #1
The module should be useable at this point. You can try something like
[code]
to check this. You don't need to run the setup.py, as that is only needed to create the binary egg you already have on your system.

Another option would be to compile the module on the brickstrap image:
[code]
Then just copy the resulting ev3dev.so to your project dir on the brick. This way you don't need to use easy_in

[2015-01-19 22:12] BertLindeman commented on #1
Thanks for the explanation, Dennis.
You helped me prove the beep works.

I am missing the next step: how to use the demo's.
Let me ponder on this for a few days.

[2015-01-20 05:06] ddemidov commented on #1
The demos are executable scripts. You can copy them to your brick and run them. For example, either
[code]
or
[code]
will work. Another nice possibility is launching ipython notebook on the brick and using a browser on your computer to do some interactive experiments. Here is a nice example of this (not mine): http://robotsquare.com/2014/06/12/linux-ev3.

[2015-01-20 09:38] BertLindeman commented on #1
Robotsquare from Laurens Valk is good.

iPython looks nice, will try.

I will look into that later. My feeling is that the current kernel is not so stable on

[2015-01-22 09:21] ddemidov commented on #1
I think the problem with installation is due to difference between reported architectures on brickstrap and on the brick. See ev3dev/brickstrap#2.

[2015-01-22 18:20] ddemidov commented on #1
@BertLindeman, 02b52b4b545657f7beb6d1e76489af8b97ba32be solves the problem for me. Can you check if this is the case for you as well?

[2015-01-22 20:36] BertLindeman commented on #1
Confirmed Denis.
Ran `easy_install -v python-ev3dev`

Result:

[code]

No problem what-so-ever :smiley:

Thanks and closing

[2015-01-22 20:36] #1 closed

[2015-03-19 12:54] win-n opened #2 "sensors not recognized"
I am using a ev3dev version build from ev3dev-jessie-2015-02-24.img By working throug the example "track-line.py", I realized that the color sensor is not recognized.
( cs = color_sensor()
  cs.connected()
  -> false )
On the brickman display I can browse the sensors and here it is present an recognized correctly.
The same is true for the ultrasonic sensor, which is the only other sensor I present

[2015-03-19 18:10] ddemidov commented on #2
I have just upgraded my ev3 to the latest kernel, and I can reproduce the issue. I'll try to track it down in the coming days. Thanks for the report!

[2015-03-19 20:11] ddemidov commented on #2
ev3dev/ev3dev-lang#45 fixed the issue in the c++ library that the python bindings are based on. You don't have to wait for the PR to be merged though; I have uploaded the updated egg to pypi. It should work for you after
[code]

[2015-03-24 14:27] win-n commented on #2
@ddemidov: Your solution does not work for me, but a workaround is:
cs=sensor(INPUT_*, )
cs.connected()
->true

  cs=sensor(INPUT_*, lego_ev3_uart_29)
bzw
  cs=sensor(INPUT_*, 'lego-ev3-uart-29')
does not work. In other words, I do not know the propper syntax for the sensor type.

[2015-03-24 15:51] ddemidov commented on #2
`sensor` is a generic sensor class, so you have to provide port number to create it. Can you try if
[code]
works for you? I have uploaded ev3dev-0.0.4 to pypi a couple of days ago, so you might want to update it before this.

[2015-03-24 16:21] win-n commented on #2
cs = color_sensor()
cs.connected
-> <bound method color_sensor.connected of <ev3dev.color_sensor object at 0xb69f4e40>>

cs.connected()
-> false

[2015-03-24 16:26] ddemidov commented on #2
Looks like you have old version of ev3dev. Can you please show me the output of
[code]
? And even before that, what is the output of
[code]
?

[2015-03-24 16:32] win-n commented on #2
cat /sys/class/lego-sensor/*/driver_name
$ lego-ev3-uart-29

of course I did the easy_install comand before going on with the python script ...

[2015-03-24 16:34] ddemidov commented on #2
But what version did it report installed? From you output above it definitely does not look like the current one.

[2015-03-24 16:36] ddemidov commented on #2
This is what I see on my system:
[code]

[2015-03-24 16:41] win-n commented on #2
$ sudo easy_install python-ev3dev

output:
Searching for python-ev3dev
Best match: python-ev3dev 0.0.3.post4
Processing python_ev3dev-0.0.3.post4-py2.7-linux-armv5tejl.egg
python-ev3dev 0.0.3.post4 is already the active version in easy-install.pth

Using /usr/local/lib/python2.7/dist-packages/python_ev3dev-0.0.3.post4-py2.7-linux-armv5tejl.egg
Processing dependencies for python-ev3dev
Finished pro

[2015-03-24 16:44] ddemidov commented on #2
does your ev3 have internet connection? You can also download the egg from [this page](https://pypi.python.org/pypi?:action=files&name=python-ev3dev&version=0.0.4) manually and then do
[code]

[2015-03-24 17:10] win-n commented on #2
Thanks a lot!

$ sudo easy_install https://pypi.python.org/packages/2.7/p/python-ev3dev/python_ev3dev-0.0.4-py2.7-linux-armv5tejl.egg

did the job. Now everything is like you said.

[2015-03-24 17:10] #2 closed

[2015-03-24 17:12] ddemidov commented on #2
Good to know, and thanks again for reporting this!

[2015-04-20 19:46] ddemidov opened #3 "easy_install is not able to upgrade python-ev3dev from PyPI"
The installation method in the README (`easy_install python-ev3dev`) will unfortunately only work once. The easy_install is smart enough to look up the package on PyPI server if its not available locally, but is too dumb to check the server for upgrades.

It should in principle be possible to install the package with `pip install --upgrade python-ev3dev`, but PyPI does not allow uploading binary w

[2015-04-28 19:57] ddemidov commented on #3
Moved egg storage to github pages, updated the [installation section](https://github.com/ddemidov/ev3dev-lang-python#installation) in README.

[2015-04-28 19:57] #3 closed

[2015-05-13 18:18] cavenel opened #4 "Accessing bin_data in AbsoluteIMU(-A/C/G)"
Hi, and thank you for the great job on this binding!
I am trying to use the mindsensors.com Gyro, MultiSensitivity Accelerometer and Compass (http://www.ev3dev.org/docs/sensors/mindsensors.com-gyro-multisensitivity-accelerometer-and-compass/#fnref:all) from Python.
When it is in mode "ALL", it is supposed to give values via "bin_data" with a "bin_data_format". I am trying to find the best way to a

[2015-05-13 19:06] ddemidov commented on #4
Hi, and thanks!

It does not look like `bin_data` attribute is supported by the C++ bindings that the python module is based upon. In fact, it looks like the attribute is missing from the unified bindings specification. So currently there is no way to access it directly.

I may try to implement the attribute in C++ and then expose it in python. But I am not sure yet how exactly to do this (the use

[2015-05-13 19:37] WasabiFan commented on #4
This is why I didn't include this in our spec -- I had no ideas on how it should be implemented. If you decide on how you think this should be done, I'd say we should add it to the spec in the next release.

[2015-05-13 19:53] cavenel commented on #4
I think the solution of returning an array of bytes is the best. As you mentioned, it can contain any type of data, so let the user decide what to do with it. But I think it is important to have a way of accessing it somehow.

[2015-05-13 21:18] ddemidov commented on #4
I've uploaded an egg that is built from `bin_data` branches here: http://ddemidov.github.io/ev3dev-lang-python/_downloads/python_ev3dev-bin_data.egg. Can you check that it works for you?

Here is what I get for `infrared_sensor`:
[code]

[2015-05-13 22:11] cavenel commented on #4
Perfect!
Here is my utilisation for the mindsensors AbsoluteIMU:
[code]
    cavenel@dhcppc2:~$ python mindsensors.py
    sensor connected: True
    23 == 23
    (242, 77, 92, 150, 3, 97, 254, 191, 254, 217, 0, 188, 3, 115, 3, 65, 1, 6, 0, 15, 0, 1, 0)
    [242, 77, 92, 150, 3, 97, 254, 191]

It is a bit weird that num_values = 23 when only 8 values are possible and the other are in bin_data, but t

[2015-05-14 03:59] ddemidov commented on #4
Great! It looks even worse than I thought though: you are unpacking 3 chars followed by 10 shorts. There is no way this could be exposed in the API, so providing an array of bytes is the way to go. @WasabiFan, what do you think?

The 23 here is probably just the size of `bin_data` in bytes, since that is the type used at the front of your structure. I would have no way of reading the correct amoun

[2015-05-14 04:38] WasabiFan commented on #4
I think that we should definitely expose the plain array but there may be _a bit_ more that we could do.

What if we added methods that, like the sensor class, would return the value with different types? For example, maybe we'd add a version of the function that would get a float at a specified byte index. Do you think that that would be more helpful than having the users do it themselves? I know

[2015-05-14 08:07] ddemidov commented on #4
I don't like this particular idea, because accessing each field in a binary structure would require another file IO operation. This would be both inefficient and potentially error prone, since the readings for different fields may become de-synchronized (come from different time points).

But you are correct in that each binding may have slightly different implementation of this attribute. Even fo

[2015-05-14 10:23] cavenel commented on #4
You are right for the 23, it is important to extract bin_data.

According to (ev3dev documentation on the AbsoluteIMU sensor)[http://www.ev3dev.org/docs/sensors/mindsensors.com-gyro-multisensitivity-accelerometer-and-compass/], values don't even exist when mode = ALL. They apparently only convert the first 8 bytes of bin_data to unsigned char. They would correspond if I used ` struct.unpack('BBBBB

[2015-05-14 10:27] ddemidov commented on #4
Thanks, now I see what is happening here.

[2015-05-14 10:44] ddemidov commented on #4
Also, I believe the last comment was meant for @dlech :).

[2015-05-14 10:47] cavenel commented on #4
My mistake...!

[2015-05-14 15:56] dlech commented on #4
I love what you can do with Python. It makes programming so easy.

Anyway, you are on the right track here. For most modes of most sensors, the format of all the data values is the same, so the `bin_data_format` attribute will actually return a useful value. The IMU is a special case since it returns mixed data types and as a result it just returns unsigned bytes. And as you have figured out, it i

[2015-05-14 17:44] ddemidov commented on #4
Resolved by ev3dev/ev3dev-lang#84.

[2015-05-14 17:44] #4 closed

[2015-07-07 21:01] leeharr opened #5 "syntax error in demo/thereminvox.py"
line 19:
ir = infrared_sensor() assert ir.connected

should be:
ir = infrared_sensor()
assert ir.connected

(btw ev3dev-lang-python is awesome! great work!)

[2015-07-08 03:35] ddemidov commented on #5
Thanks! Fixed in 2d35aad.

[2015-07-08 03:35] #5 closed

[2015-07-16 21:46] markovian72 opened #6 "How To Create Python-EV3Dev Scripts using IDE on External Computer"
Hi,

I was able to install python-ev3dev onto a Lego EV3 Brick and run commands from the python command prompt and scripts created using nano.

However, now I would like to be able to write scripts using an IDE (like Spyder or PyCharm) on my laptop (running Linux Mint 17.2 64 Bit). Then I would plan to transfer the scripts to the EV3 using scp or sftp.

So far I've done the following on my Linux M

[2015-07-17 06:12] ddemidov commented on #6
You are almost there :). Indeed, you need to install the package from source. Right now, this should work for step 3:
[code]
Also, I don't think the step 1 is necessary, unless you want to actually connect lego devices to your laptop.

I'll see if it is possible to upload both binary and source eggs to PyPI. Then I hope it should be possible to `sudo easy_install -U python-ev3dev` both on the ev3

[2015-07-17 07:13] ddemidov commented on #6
I've uploaded source tarball and binary egg to pypi. `sudo easy_install -U python-ev3dev` should work everywhere now.

[2015-07-17 15:12] markovian72 commented on #6
Initially, I still wasn't able to install python-ev3dev because I didn't have the required development library installed. So running easy_install resulted in an error that "boost/python.hpp" couldn't be found.

After some searching, I discovered that the libboost development library needed to be installed:
`sudo apt-get install libboost-python1.55-dev`

After installing this development library I

[2015-07-17 15:12] #6 closed

[2015-07-17 15:25] ddemidov commented on #6
I've updated the README, thanks for noting this!

[2015-07-29 15:38] ddemidov opened #8 "Make the bindings compatible with (and create binary package for) Brick Pi"
The one difference between in ev3 and rpi images should be port names. From @dlech on IRC:

[2015-07-29 15:47] ddemidov commented on #8
Actually, the port names are `ttyAMA0:xxx`

[2015-07-29 15:51] Ho33e5 commented on #8
Confirming that on rpi1, everything seems to work great with `ttyAMA0:xxx` port names

[2015-07-29 16:14] dlech commented on #8
Another difference is that there is not autodetection with birckpi. The motor ports are all set to ev3 large motor by default, but sensors must be configured manually using the lego-port class.

[2015-07-29 16:20] ddemidov commented on #8
@Ho33e5, @dlech, could either of you tell me what is the output of `uname -m` on rpi? Just to make sure I wont run into ev3dev/brickstrap#2 again.

[2015-07-29 16:21] ddemidov commented on #8
ref ev3dev/ev3dev#369

[2015-07-29 16:29] dlech commented on #8
Yes, IIRC, qemu does not have exact matches, so you will have the same issue.

RPi2 is `armv7l`

Don't have RPi1 on a the moment, but I am pretty sure it is `armv6l`

[2015-07-29 16:47] ddemidov commented on #8
I wonder how much faster is RPi w.r.t. EV3? May be it should be possible to just compile the package from source tarball on the fly with `easy_install -U python-ev3dev`. Port names would still be wrong, so one would need to provide the names explicitly as strings:
[code]

[2015-07-29 16:48] BertLindeman commented on #8
On my rpi-B+:
[code]

[2015-07-29 17:16] dlech commented on #8
The RPi is significantly faster (and lots more memory) so compiling on the fly should be OK.

[2015-07-29 17:21] ddemidov commented on #8
The source package has been on pypi for some time, so it should be possible to test right now. I'll try to prepare binaries anyway.

[2015-07-29 17:43] Ho33e5 commented on #8
On my rpi1-B:
[code]

[2015-07-29 18:42] ddemidov commented on #8
Does it work afterwards?

[2015-07-29 19:25] ddemidov commented on #8
@Ho33e5, I've uploaded binary eggs for rpi image to pypi (both for python2 and python3). You should be able to install those with `easy_install -U python-ev3dev`/`easy_install3 -U python-ev3dev` (and it should be much faster than 5-10 minutes). Please let me know if you are able to install and use the egg(s). Something like this should work:
[code]

Note that we don't provide a `lego_port` class i

[2015-07-31 14:22] Ho33e5 commented on #8
@ddemidov The binary eggs do install well and the code works (I only have nxt motors so I replaced `large_motor` with `motor`). Great!

[2015-07-31 14:24] ddemidov commented on #8
Thanks for testing!

[2015-07-31 14:24] #8 closed

[2015-08-25 13:22] jurezabkar opened #9 "Runtime errors"
I wrote the following python script that goes through all the sensors and checks all the modes for each sensor:

[code]

The script exits with RuntimeError: No such device:
[code]
The second run of the script gives similar output a bit earlier:
[code]
Trying to debug, I wrote simpler code, assigning 'US-DC-CM' to us.mode, since that seems to be a problem:
[code]
This time, the error is different:

[2015-08-25 13:30] ddemidov commented on #9
What happens when you do
[code]
where `sensor*` corresponds to the ultrasonic sensor?

[2015-08-25 15:09] jurezabkar commented on #9
root@ev3dev:/sys/class/lego-sensor/sensor5# cat
/sys/class/lego-sensor/sensor5/modes
US-DIST-CM US-DIST-IN US-LISTEN US-SI-CM US-SI-IN US-DC-CM US-DC-IN

root@ev3dev:/sys/class/lego-sensor/sensor5# cat US-DIST-CM >
/sys/class/lego-sensor/sensor5/mode
cat: US-DIST-CM: No such file or directory

root@ev3dev:/sys/class/lego-sensor/sensor5# cat
/sys/class/lego-sensor/sensor5/value0
132

On Tue, Aug 25

[2015-08-25 15:16] ddemidov commented on #9
Sorry, the first cat should be echo of course.

On Tue, Aug 25, 2015, 18:09 jurezabkar <notifications@github.com> wrote:

--

Cheers,
Denis

[2015-08-25 15:43] jurezabkar commented on #9
That seems to work well:

root@ev3dev:/sys/class/lego-sensor/sensor5# echo US-DIST-CM >
/sys/class/lego-sensor/sensor5/mode
root@ev3dev:/sys/class/lego-sensor/sensor5# cat
/sys/class/lego-sensor/sensor5/value0
326

On Tue, Aug 25, 2015 at 5:16 PM, Denis Demidov <notifications@github.com>
wrote:

[2015-08-25 20:01] ddemidov commented on #9
I can reproduce the error with an infrared sensor (don't have an ultrasonic one), both with the appropiately modified python script and with the equivalent bash script:
[code]

Here is the output of the above script (I have touch, color, and infrared sensors connected in that order):
[code]

[Documentation](http://www.ev3dev.org/docs/sensors/lego-ev3-infrared-sensor/) states that `IR-S-ALT` mode i

[2015-08-26 00:33] dlech commented on #9
The LEGO EV3 Ultrasonic sensor does not have any defective modes that I know of. It sounds like a race condition. Maybe some fresh eyes will help if you would like to have a look. The driver code is [here](https://github.com/ev3dev/lego-linux-drivers/blob/master/sensors/ev3_uart_sensor_ld.c#L293).

The "No such device" error comes from `-ENODEV`, so it means that the `tty` has disappeared (highly

[2015-08-26 06:50] ddemidov commented on #9
@dlech, I can not see anything standing out there (not that I have any experience with kernel hacking). It seems though that the only way one could get a `Connection timeout` is when [number of retries](https://github.com/ev3dev/lego-linux-drivers/blob/31bcb5e4df3b0a61da3863021377807e09793344/sensors/ev3_uart_sensor_ld.c#L299) is not enough [here](https://github.com/ev3dev/lego-linux-drivers/blob/

[2015-08-26 10:35] ensonic opened #10 "use run_timed() in mindstorms_widgets.py for on_for_seconds"
white reading mindstorms_widgets.py to learn about the api and looking at dir(ev3dev.large_motor(ev3dev.OUTPUT_B)) I was wondering if the code in

https://github.com/ddemidov/ev3dev-lang-python/blob/master/demo/mindstorms_widgets.py#L128-L133

should be

    self.motor['left'].run_timed(time_sp = int(seconds * 1000))
    self.motor['right'].run_timed(time_sp = int(seconds * 1000))

This needs spee

[2015-08-26 10:49] ddemidov commented on #10
@dandrus-ev3 was trying to model the API of programming bricks of the stock software with this demo (see #7). Possible reason for his choice of `run_forever` vs `run_timed` could be the fact that `run_timed` returns immediately, and Dan wanted it to be a blocking call, in the same way it works in LEGO software. This probably could be done with `run_timed` followed by a sleep, but I am not sure the

[2015-08-26 11:05] ensonic commented on #10
Thanks for the explanation.

[2015-08-26 11:05] #10 closed

[2015-08-26 11:56] jurezabkar commented on #9
I ran a huge set of experiments this morning and found out that:
 - setting a delay does not solve the problem (tried different times,
not exactly 100 secs, but only from 0.1 to 5 secs)
 - setting a mode never fails with color sensor (I tried connecting it
to all 4 ports and it always works); it fails with touch, gyro and
ultrasonic sensor.
 - during the first few experiments after switching on th

[2015-08-26 12:25] ddemidov commented on #9
Sorry about that, I forgot that `time.sleep()` takes seconds, not milliseconds :)

I think touch sensor does not support mode setting.

[2015-08-26 12:29] ddemidov commented on #9
There is a [note](http://www.ev3dev.org/docs/sensors/lego-ev3-ultrasonic-sensor/#fn:dc-mode) on the ultrasonic sensor page linked to `US-DC*` modes:

Could this be related?

[2015-08-26 12:38] jurezabkar commented on #9
I thought it does, like in EV3 software (http://www.stemhq.org/touch-sensor)

[2015-08-26 13:43] jurezabkar commented on #9
I don't think so - see below that US-DC* modes worked fine; I used
time delay of 1s in the script that results in:

root@ev3dev:~# python test_sensors.py
US-DC-CM
US-DC-IN
US-DIST-CM
US-DIST-IN
US-LISTEN
US-SI-CM
Traceback (most recent call last):
  File "test_sensors.py", line 19, in <module>
    s.mode = m
RuntimeError: Connection timed out

I also tried USB connection instead of WiFi but as exp

[2015-08-26 13:46] ddemidov commented on #9
@dlech, should we open an issue on evdev/ev3dev? This does not seem to be binding-specific.

[2015-08-26 16:06] dlech commented on #9
Yes, that would be good. Be sure to include a script to reproduce the problem.

[2015-08-26 16:14] ddemidov commented on #9
@jurezabkar, can you please attach the output of the following script on your system here or in [the new issue](https://github.com/ev3dev/ev3dev/issues/new) in the core repository? I guess it should be enough to reproduce the problem:
[code]

[2015-09-22 11:28] antonvh opened #11 "Get battery voltage documentation?"
I can't figure out from the docs how to get the battery voltage.

This doesn't work:
[code]

[2015-09-22 11:31] ddemidov commented on #11
Will this work for you?
[code]
I am away from my ev3 for another week, so I can not test this, sorry.

[2015-09-22 21:08] antonvh commented on #11
It works on an Ev3. Thanks. But I'm working on a RPi. I figured out how to get the voltage earlier, before ev3dev. It's here. https://gist.github.com/antonvh/c81c247fc03029a1ba6a
Maybe you can add it to your library? Would be neat.

[2015-09-22 21:39] antonvh opened #12 "Can't set motor position"
I got this on a RPi with brickpi:
[code]

Other setters seem not to work either:
[code]

[2015-09-23 07:09] ddemidov commented on #12
Can you please show the output of `ls /sys/class/tacho-motor/motor0` on your system? Also, I'd like to see the result of `ls -i /sys/class/tacho-motor/motor0` before and after you run the first script above (the one that touches motor position).

[2015-09-23 20:38] antonvh commented on #12
I humbly apologise for the first one: I made a port mistake. The motor was connected to port D, not A. m.connect does not seem to give accurate results on a BrickPi. With the right port, `m.position=0` works fine. Still the brake command doesn't seem to be supported.

Before:
[code]

And after:
[code]

Still the stop_command is all weird:
[code]

[2015-09-23 20:49] ddemidov commented on #12
It looks like the motor does not support the `brake` command. What is the output of `m.stop_commands`?

[2015-09-24 08:59] ensonic opened #13 "add debian package for python-ev3dev"
I have packaged my open-roberta.org cloud ide service. The code uses python-ev3dev and now I'd like to express that in the package deps.

I think it would be good to have debian packages for the language bindings, where possible. For python-ev3dev I can give packaging a try as a PR for this repo. Sounds good?

[2015-09-24 17:37] antonvh commented on #12
Thanks! This helps. I didn't know I could check if a command was available before using it. I want to write universal code that is usable on the BrickPi and Ev3. I supposed Ev3 commands would be emulated on ev3dev, but apparantly they aren't. This clears up a lot. Do you want me to help write docs about this? Update the wiki?
[code]

[2015-09-24 18:00] ddemidov commented on #12
Any help is appreciated! The python specific help is generated automatically from the README.rst file and the docstrings that are unfortunately specified via boost.python code [here](https://github.com/ddemidov/ev3dev-lang-python/blob/master/ev3dev/pyev3dev.cpp#L571). But may be a better idea would be to make a pull request to update the generic documentation on the [main site](http://www.ev3dev.o

[2015-09-24 18:04] ddemidov commented on #13
This does sound good, as I have no experience with debian packaging. PR would be great, thanks!

[2015-09-24 18:09] dlech commented on #12
The BrickPi is a bit limited compared to the same things on the EV3. Not supporting `brake` is one of them. These things could be fixed, but it would require writing new firmware for the BrickPi.

[2015-09-28 09:58] ensonic commented on #13
The packages would need to be sent to dlech via email right now. If you want I can do that for the current release.

[2015-09-28 10:07] ddemidov commented on #13
Does the script need to be run inside either ev3 brick or cross-compilation environment? In case not, we could try to add a Travis-CI script to do the packaging automatically whenever a new tag is pushed.

[2015-09-28 10:17] ddemidov commented on #13
It seems sending emails from Travis-CI jobs is not allowed for the reasons of spam-prevention.

[2015-09-28 10:17] #13 closed

[2015-09-28 10:22] ensonic commented on #13
Yep, when I run this from the desktop I get: python-python-ev3dev_0.2.2.post1-1_amd64.deb
So we need to run this from brickstrap. This is because of the cpp extension :/

I was wondering if it would make sense in the long run to:
a) generate the full module
b) rewrite the language spec to be based on gobject introspection.

b) would be in sync with brickman and we'd get js, python, vala, lua, hask

[2015-09-28 10:24] ddemidov commented on #13
I am sorry, I did not understand neither (a) nor (b) (just returned from a trip, so may be my brain is still damaged). What exactly do you mean by generating the full module? And by rewriting the spec to be based on gobject introspection?

[2015-09-28 10:56] ensonic commented on #13
If python-ev3dev would be pure python (no c++ code), we can have an architecture independent package (no need to build in brickstrap). That would be what I mean with option a).

Regarding option b) - ev3devKit is written in vala. This compiles to a gobject base c library. Now gobject introspection can add all kind of language support for such a library. For python e.g. one just imports the library

[2015-09-28 11:00] ddemidov commented on #13
Ok, then (a) is what's @rhempel is working on in his [pure-python](https://github.com/ev3dev/ev3dev-lang/tree/pure-python) branch.

Regarding (b), how good the generated interface would be? Would gobject programming patterns be imposed on all the other bindings?

[2015-09-28 13:22] ensonic commented on #13
is pure-python going to be a drop-in replacement?

Regarding gobject-introspection, if the library is writtign with bindings in mind, one gets nice bindings in return. Here is an example for python and gtk: http://python-gtk-3-tutorial.readthedocs.org/en/latest/introduction.html

[2015-09-28 15:11] antonvh commented on #13
I had trouble subclassing the boost.python stuff. I hope that will be better in pure-python. Haven't figured out how to switch, yet.
This doesn't work anyway:
[code]

[2015-09-28 15:25] ddemidov commented on #13
@antonvh, I think you need to use `Super` to init the subclass. See https://github.com/ddemidov/ev3dev-lang-python/blob/master/ev3dev/__init__.py#L345-L351 for an example.

[2015-09-28 15:30] ddemidov commented on #13
@ensonic, it looks like pure-python can be a drop-in replacement if @rhempel and I agree on a couple of class name changes. Also see the tail of discussion here: https://github.com/ev3dev/ev3dev-lang/issues/3 and examples here: https://gist.github.com/ddemidov/e27fdf63f3ff6bb98dcf.

E.g. Ralf calls his `motor` class `Motor`. Otherwise the code is the same. It does comply better with [pep 0008](htt

[2015-09-28 16:27] rhempel commented on #13
My suggestion is that if we need to introduce breaking changes, we do it now, and we do it to acheive better compliance with pep 0008, the whole point of the binding generator is to be flexible enough to make class and object naming conform to the idioms of the target language.

I'll try and get my pure-python branch updated so with a few more tweaks so that others can have a good review of the im

[2015-09-28 16:49] ddemidov commented on #13
@rhempel, I can capitalize my class names and push a new release when @dlech and @ensonic are happy with the state of debian packaging scripts. Btw, PEP0008 [says](https://www.python.org/dev/peps/pep-0008/#class-names) that class names should use `CapitalizedWords` convention, unlike your `EV3_Device` or `DC_Motor` (these are [called](https://www.python.org/dev/peps/pep-0008/#descriptive-naming-st

[2015-09-28 16:52] rhempel commented on #13
I am happy to converge on the most Pythonic way of doing things - I'll fix the class names tonight as well

[2015-09-28 19:15] ddemidov commented on #12
Can this be closed?

[2015-09-28 19:25] ddemidov commented on #11
I don't have an RPi to test this.

* Doesn't RPi provide an entry in `/sys/class/power-supply` for its power source? Then we could make `power_supply::battery` to point there instead of [legoev3-battery](https://github.com/ev3dev/ev3dev-lang/blob/e91926b38c8dce7707425ea2969e09d42df494f0/cpp/ev3dev.cpp#L908-L911).
* In case not, is it possible to get min and max values for voltage and also the valu

[2015-09-28 19:39] ddemidov commented on #9
Replaced with ev3dev/ev3dev#385.

[2015-09-28 19:39] #9 closed

[2015-09-29 00:01] rhempel commented on #13
Decision time - `EV3Device` or `Ev3Device` - I'm leaning towards `EV3Device` but am willing to listen to good arguments against it. Besides, it's an easy change when you have `autogen`!

[2015-09-29 00:10] dlech commented on #13
I've actually give this a bit of thought lately. My conclusion has been that when writing in camelCase or PascalCase, acronyms should be written with the first letter capitalized only. I find that it makes it easier to read and is essential when you have two or more acronyms back-to-back. I've actually gone through ev3devKit recently changed it to follow this.

`Ev3Device` does look kind of weird

[2015-09-29 04:02] ddemidov commented on #13
Why not just Device? You are already in ev3dev namespace. Also, this should
work for rpi as well.

On Tue, Sep 29, 2015, 03:10 David Lechner <notifications@github.com> wrote:

--

Cheers,
Denis

[2015-09-29 04:10] rhempel commented on #13
You see, this is why we have reviews. Now, if we were all in one office we could do this over lunch or coffee :-) I'll let this sink in overnight...

[2015-09-29 20:08] antonvh commented on #11
Solved with issue https://github.com/ev3dev/ev3dev/issues/401

[2015-09-29 20:08] #11 closed

[2015-09-29 20:21] #12 closed

[2015-09-30 19:22] burf2000 opened #17 "Example not working"
I have installed the latest EV3Dev
I have followed your instructions

I get

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: 'module' object has no attribute 'LargeMotor'

[2015-09-30 19:27] ddemidov commented on #17
The master branch is currently in the process of merging interface with @rhempel's [pure-python](https://github.com/ev3dev/ev3dev-lang/tree/pure-python/pure-python) bindings. Specifically, the names of the classes have been changed recently, but the changes have not yet been pushed to pypi.

As a result, you would need to you instructions either from https://github.com/ddemidov/ev3dev-lang-python/

[2015-09-30 19:34] ddemidov commented on #17
I've reverted the master branch to the published version and moved the unpublished changes to develop. Thanks for reporting this!

[2015-09-30 19:44] burf2000 commented on #17
So just follow the instructions again and it should work?

[2015-09-30 19:45] burf2000 commented on #17
Running your demo code for motor I get
  File "test.py", line 17, in <module>
    Motor(OUTPUT_A),
NameError: name 'Motor' is not defined

[2015-09-30 19:46] ddemidov commented on #17
Yes, but note that the code you cited now looks like
[code]

[2015-09-30 20:24] burf2000 commented on #17
Seems to work now, can I just ask how I would get non EV3 motors to work (PF Motors)

[2015-09-30 20:54] ddemidov commented on #17
The ev3dev documentation on power function motors (http://www.ev3dev.org/docs/drivers/rcx-motor/) seems to suggest you need a `dc_motor` class to work with them. Have a look at http://www.ev3dev.org/docs/drivers/dc-motor-class/ and http://ddemidov.github.io/ev3dev-lang-python/#ev3dev.dc_motor.

[2015-09-30 21:14] rhempel commented on #17
Denis,

I'm happy to use whatever format we settle on as long as it's Pythonic and meets PEP 008. If you want me to update the binding generator to make classes that look more like your code here:

<http://ddemidov.github.io/ev3dev-lang-python/#ev3dev.dc_motor>

then we can do that too. Which standard should we settle on to minimize breakage :-)

[2015-10-09 14:41] ensonic opened #18 "float int parameter woes"
repro:

[code]

When passing an int value it works.

[2015-10-09 14:47] ddemidov commented on #18
For now it would be easier to deal with this on user side with an explicit conversion. I can not change the signature of c++ function. Pure python bindings should be better

[2015-10-09 15:25] ensonic commented on #18
Yeah, maybe that just another lessons learned and a + for pure-python. If you write python, you don't expect that you have to manuallyl convert floats to ints. Also there error message contains quite some clutter (e.g. None.None() va. None()) that I don't understand - not sure if that is 'fixable'.

[2015-10-09 17:43] antonvh commented on #18
I ran into the same problem, that's why I'm working with @rhempel on pure python bindings. Your welcome to contribute. I hope to make some major progress this weekend.

[2015-10-09 18:20] ddemidov commented on #18
This actually can be solved by wrapping the original C++ method into a python one (similar to [this](https://github.com/ddemidov/ev3dev-lang-python/blob/6278794b2191ef3a0eb3a1551f8c984e425f76da/ev3dev/__init__.py#L248-L254)), but since we decided to move to pure python anyway, I say lets just wait when that is ready.

[2015-10-09 19:19] ddemidov commented on #18
On the second thought (or third, actually), this is too cumbersome to implement on the library side. Either each `set_*` method that should take an int value should provide an explicit overload for floats on C++ side of things, or each of the corresponding properties in python should be wrapped as in the above comment.

[2015-10-09 19:33] #18 closed

[2015-10-09 19:33] ddemidov commented on #18
It was actually very easy to fix. b57ba6a does the trick.

[2015-10-09 19:40] ensonic commented on #18
Wow. Thanks a lot!

[2016-01-03 13:45] NielsAMG opened #20 "Auto-drive not working"
After the EV3-Brick booted, I type the following: sudo apt-get install libboost-python1.55.0 python-setuptools python-pil
after that: sudo  easy_install -U python-ev3dev
and then Python2.7 for the Python shell

That was succesful but then I've tried these commands:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: 'module' object has no attribute 'LargeMotor

[2016-01-03 13:52] ddemidov commented on #20
I am sorry, this repo has been outdated in favor of @rhempel's https://github.com/rhempel/ev3dev-lang-python. It is no longer supported and will not work with the recent ev3dev kernels.

You can easily update the demo to work with Ralph's bindings though. The only change should be importing from `ev3dev.auto` instead of `ev3dev`:
[code]
and also you need to define the `steering` function yourself,

[2016-01-03 14:00] ddemidov commented on #20
Actually, the auto-drive.py has been ported to the new bindings: https://github.com/rhempel/ev3dev-lang-python/blob/master/demo/auto-drive.py

[2016-01-03 19:36] NielsAMG opened #21 "Attribute from Colorsensor"
What attribute has the color sensor?

[2016-01-03 21:10] ddemidov commented on #21
You should open subsequent issues at https://github.com/rhempel/ev3dev-lang-python.

Color sensor inherits its attributes from [Sensor](http://python-ev3dev.readthedocs.org/en/latest/?badge=latest#ev3dev.ev3.Sensor). And there is a page on color-sensor-specific modes at ev3dev.org: http://www.ev3dev.org/docs/sensors/lego-ev3-color-sensor/.

[2016-01-03 21:10] #21 closed

[2016-01-13 14:46] gitjoost commented on #17
Neither

Nor

is working for me. Both give the same error: AttributeError: 'module' object has no attribute 'large_motor'  (or 'LargeMotor').   Note that the module imports fine, installation lists python_ev3dev-0.6.0 is installed.

[2016-01-13 15:04] ddemidov commented on #17
That's because the repo is [no longer supported](https://github.com/ddemidov/ev3dev-lang-python). Have a look at https://github.com/rhempel/ev3dev-lang-python instead.

[2016-03-06 16:49] #20 closed

[2016-03-06 16:51] NielsAMG opened #22 "Ps4 Controller via Bluetooth"
Can I connect a PS4 DS4 Controller via Bluetooth with ev3dev? And with which commands can I check the values from the controller in Python?

[2016-03-08 21:48] antonvh commented on #22
I think you can connect through brickman when you connect the ps3 controller first with an usb cable. The process is a little weird and requires some powering on and off. Mine is connected now. This could also be helpful: https://wiki.gentoo.org/wiki/Sony_DualShock

I had succes in the past with sdl2 and py-sdl2 (https://bitbucket.org/marcusva/py-sdl2) for getting values into python. I'm not sure

[2016-03-08 22:26] antonvh commented on #22
I can't seem to install sdl2. I tried `sudo apt-get joystick` but no js0 device is showing up in sysfs. With a js0 file you could use a gist like this: https://gist.github.com/rdb/8864666

This is as far as I get.
[code]
Maybe @dlech can give us a pointer?

[2016-03-09 03:15] dlech commented on #22
The joystick device node (`/dev/jsX`) is deprecated, so we haven't enabled it in the kernel. Instead use the event interface. You can test that it is working using the `evtest` command. Then use [python-evdev](http://python-evdev.readthedocs.org/en/latest/) for programming (not to be confused with python-ev**3**dev).

[2016-03-09 10:53] antonvh commented on #22
Brilliant! `evtest` returns some data from the gamepad. Tonight I'll see if I can pick that up in python. If it works I'll add a tutorial to ev3dev.org.

[2016-03-10 20:33] antonvh commented on #22
It works. :D
https://www.youtube.com/watch?v=brfgF3D5c4k

[2016-03-13 11:12] NielsAMG opened #23 "Ps4 Controller Bug"
If I print the events Form the controller allthing is great, but the two Joysticks dont work. All the other buttons work.

[2016-03-13 11:23] antonvh commented on #23
Please stop reporting issues in this repo. @ddemidov Can you lock it or delete it?

Please go to: https://github.com/rhempel/ev3dev-lang-python

I wrote a tutorial here. It includes one button and one stick.

http://www.ev3dev.org/docs/tutorials/using-ps3-sixaxis/

Be sure to share your project.

[2016-03-13 11:30] ddemidov commented on #23
@antonvh, the only thing I can do is remove the issues tab completely. I did not want to do this to keep the old issues available, but I guess there is not much value at this point anyway. I'll do it now.

[2016-03-13 11:30] #23 closed